.lists-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-container {
  align-self: flex-end;
  margin: 1rem 0;
}

.movie-list-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 movies per row */
  gap: 20px;
  padding: 0 20px;
}

.movie-card {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-info {
  margin-top: 10px;
}

.movie-info h4 {
  font-size: 1rem;
  color: #333;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.action-button:hover {
  color: #3498db;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal-content button {
  margin: 10px;
  padding: 8px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #3498db;
  color: white;
}

.delete-button {
  background-color: #e74c3c;
}

.delete-button:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 movies per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: 1fr; /* 1 movie per row on very small screens */
  }
}
