.featured-movies {
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 62px;
    background-color: #F8B319;
    border-radius: 20px;
    
  }
  
.featured-movies h1{
  font-size: 28px;
}

  .carousel-slide {
    text-align: center;
  }
  
  .carousel-poster {
    width: 100%;
    height: auto;
    max-height: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .carousel-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  