/* SearchBar.css */

/* Outer panel container */
.search-bar-panel {
  display: flex;
  justify-content: start;
  align-items:start;
  margin: 20px;
  border-radius: 10px;
  background-color: transparent; /* Dark background color */
 
  height: 87%;
  /* border: 1px solid white; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Inner search bar container */
.search-bar {
  display: flex;
  align-items: start;
  width: 100%;
   /* Limiting the width */
  background-color: transparent;
  padding: 5px;
  margin: 10px;
  overflow: hidden;
}

/* Input field styles */
.search-bar input {
  padding: 10px;
  font-size: 1rem;
  width: 100%; /* Take most of the space */
  border: 2px solid #FFB2CF;
 border-radius: 5px;
  margin-right: 10px; /* Space between input and button */
  outline: none;
}

.search-bar input:focus {
  border-color: #f58fb6; /* Highlight border on focus */
}

/* Search button styles */
.search-button {
  background-color: #FFB2CF;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid #FFB2CF;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #f58fb6; 
}

/* Optional: Focus state for the button */
.search-btn:focus {
  outline: none;
}

